:root {
    --text-color-regular: #c6ffcd;
    --text-color-muted: #95b1c5;
    --text-color-accent: #c269c5;
    --bg-secondary: #243357;
    --accent-glow: #41fc54;
    --accent-gradient: linear-gradient(45deg, #ffbe00 0%, #41fc54 45%, #338ffe 75%);
    --font-family-main: lacquer, system-ui;
}

body {
    background-color: #1c212e;
    color: var(--text-color-regular);
    text-align:center;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: radial-gradient(#ffffff22 1px, transparent 1px);
    background-size: 20px 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

#Luke {
    background: linear-gradient(200deg, #ffbe00 0%, #41fc54 50%, #338ffe 100%);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
h2 {
    font-size: clamp(5rem, 12vw, 12rem);
    font-weight: 900;
    font-family: var(--font-family-main);
}

.OnPage {
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    gap: 10px;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
    font-size: clamp(1rem, 2.5vw, 1.3rem);
    font-weight: 900;
    font-family: var(--font-family-main);
    padding-right: clamp(2rem, 4vw, 3rem);
    text-align: right;
    color: var(--text-color-muted)
}

hr {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #3f4a66;
}

#wave1 {
    display: block;
    width: 100vw;
    height: auto;
    margin-top: -5vh;
}

.bodybody {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
    background-color: var(--bg-secondary);
    padding-bottom: 20px;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: clamp(1.8rem, 2.5vw, 2.4rem);
    font-weight: 900;
    font-family: var(--font-family-main);
    color: var(--text-color-regular);
    width: 100%;
}


@keyframes tilt {
    0% { transform: rotate(3deg); }
    50% { transform: rotate(-3deg); }
    100% { transform: rotate(3deg); }
}

#cv {
    margin-top: 5vh;
    border-radius: 3%;
    animation-name: tilt;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    filter: drop-shadow(0px 0px 10px var(--accent-glow));
}

.OnPage {
    flex-wrap: wrap;
}

.bodybody {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.aboat {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    text-align: center;
}

#pfp1 {
    border-radius: 50%;
    width: 180px;
    height: auto;
    margin-bottom: 2rem;
    filter: drop-shadow(0px 0px 7px var(--accent-glow));
}

.underaboat{
    padding-left: 0px;
    padding-top: 10vh;
    background-color: var(--bg-secondary);
}

#aboataboat{
    padding-left: 0px;
    font-size: clamp(2.5rem, 5vw, 3rem);
    text-align: center;
    padding-bottom: 6vh;
}

#moiboat{
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    color: var(--text-color-regular);
    width: 35vw;
    margin: 0 auto;
    font-size: clamp(1.6rem, 2.5vw, 2rem);
}



#wave2{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg); 
    transform: rotate(180deg);
    display: block;
    width: 100vw;
    height: auto;
    padding-bottom: 0px;
}


.titlecan{
    background: linear-gradient(45deg, #ffbe00 0%, #41fc54 45%, #338ffe 75%);
    background-size: 100% 100%;
    font-size: 10rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-top: -10vh;
}

#moreaboatit {
    text-align: center;
    margin: 0, auto;
    padding: 0;
    font-size: 4cqh;
    color: var(--text-color-regular)
}


#cellphone{
    filter: drop-shadow(0px 0px 3px #41fc54);
    width: 50vw;
    margin: 0 auto;
    font-size: 4vw;
}

/*BELOW IS THE PROJECT CAROUSELL CODE*/
.pro {
    display: flex;
    gap: 5vw;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    flex-wrap: nowrap;
    height: 30vw;
    scroll-snap-type: x proximity;
    align-items: center;
}

.pro {
    scroll-behavior: smooth;
}



.pro {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

.project {
    flex: 0 0 auto;
    width: 40vw;
    scroll-snap-align: center;
    transition: transform 0.3s ease;

}

.project:hover {
    transform: scale(1.15);
}

.project img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    filter: drop-shadow( 0px 0px 8px #41fc54);
}

.project.active {
    transform: scale(1.15);
}


/* TOM BLOBBERY */

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}

.blobbery {
    margin: 0 auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 50vw;
    height: 50vw;
    background: #243357;
    border-radius: 60% 40% 70% 30% / 50% 60% 40% 30%;
    animation: 
    blob 6s ease-in-out infinite,
    spin 10s linear infinite,
    blobColor 8s ease-in-out infinite;
}

@keyframes blob{
    0%,100%{
        border-radius: 70% 35% 80% 25% / 55% 65% 30% 45%;
    }
    25% {
        border-radius: 90% 55% 30% 75% / 35% 65% 20% 60%;
    }
    50% {
        border-radius: 45% 70% 20% 65% / 25% 60% 50% 80%;
    }
    75% {
        border-radius: 50% 25% 75% 45% / 35% 55% 80% 20%;
    }
}

@keyframes spin{
    to {
        transform: rotate(360deg);
    }
}

@keyframes blobColor{
    0%,100%{
        background-position: 50% 0%;
    }
    50%{
        background-position: 50% 100%;
    }
}

/* END BLOBBERY */


.contactscontainer {
    width: 50vw;
    height: 50vw;
    position: relative;
    margin: 0 auto;
}

.blobbery, .contacts{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.contacts {
    z-index: 10;
    margin-top: 50%;
}

.contacts p{
    padding: 0;
    margin: 0 auto;
    text-align:center;
    color: var(--text-color-regular);
    font-size: 2vw;
    line-height: 5vw;
}

#cellphone2{
    filter: drop-shadow(0px 0px 3px #c269c5);
    width: 50vw;
    margin: 0 auto;
    margin-top: 20rem;
    color: #c269c5;
    font-size: 4vw;
}

#drone {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    width:6vh;
    margin: 1vw;
}

#wave3 {
    padding: 0;
    margin: 0;
    margin: 0 auto;
    transform: rotate(180deg);
    margin-bottom: -45vh;
    position: relative;

}

@media (max-width: 600px) {

        html {
        overflow-x: hidden;
        width: 100%;
        margin:0;
        padding:0;
    }


    .OnPage {
        padding-top: 0;
        margin-top: 0;
        line-height: 10vh;
    }

    #Luke {
        padding-top: 0;
        margin-top: 0;
    }


    h2 {
        padding: 0px;
        margin-bottom: 0;
    }

    p {
        margin: 5vw;
    }

    h3 {
        width: 80vw;
    }

    #cv {
        width: 90vw;
    }



    #aboataboat {
        margin: 0 auto;
    }

    #moiboat {
        width: 80vw;
        font-size: 1rem;
    }

    
    .titlecan {
        margin: 0 auto;
        padding: 0;
        font-size: 4.5rem;
    }

    .project {
        width: 75vw;
        height: auto;
    }

    .pro {
        width: 100vw;
        height: auto;
        padding-bottom: 5vh;
        padding-top: 5vh;
        gap: 10vw;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
    }

    #cellphone {
        font-size: 3rem;
        width: 100vw;
        padding: 0;
        margin: 0 auto;
        padding-bottom: 10vh;
    }

    .blobbery {
        width: 80vw;
        height: 80vw;
        margin: 0 auto;
        padding: 0;
        top: 0vh;
        left: -15vw;
    }

    .contacts {
        margin: 0 auto;
        padding: 0;
        text-align: center;
        margin-top: 7.5vh;
    }
    
    .contacts p {
        padding: 0;
        margin: 0;
        font-size: 1rem;
        line-height: 2rem;
        text-align: center;
        margin: 0 auto;
    }

    #cellphone2 {
        margin: 0 auto;
        padding: 0;
        text-align: center;
        margin-top: 20vh;
        font-size: 3rem;
        width: 80vw;

    }
}

