:root {
    --text-color-regular: #c6ffcd;
}

body {
    background-color: #1c212e;
    color: var(--text-color-regular);
    text-align:center;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: hidden;
    background-image: radial-gradient(#ffffff22 1px, transparent 1px);
    background-size: 20px 20px;
}

#Luke {
    background: linear-gradient(200deg, #ffbe00 0%, #41fc54 50%, #338ffe 100%);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
h2 {
    font-size: clamp(3rem, 10vw, 8rem);
    font-weight: 900;
    font-family: lacquer, system-ui;
}

.OnPage {
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    gap: 10px;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
    font-size: clamp(1.5rem, 4vw, 1rem);
    font-weight: 900;
    font-family: lacquer, system-ui;
    padding-right: clamp(5rem, 4vw, 5rem);
    text-align: right;
    color: #575757
}

hr {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #3f4a66;
}

#wave1 {
    display: block;
    width: 100%;
    height: auto;
    margin-top: -5vh;
}

.bodybody {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
    background-color: #243357;
    padding-bottom: 20px;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-weight: 900;
    font-family: lacquer, system-ui;
    color: var(--text-color-regular);
    width: 100%;
}


@keyframes tilt {
    0% { transform: rotate(3deg); }
    50% { transform: rotate(-3deg); }
    100% { transform: rotate(3deg); }
}

#cv {
    margin-top: 5vh;
    border-radius: 3%;
    animation-name: tilt;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    filter: drop-shadow(0px 0px 10px #41fc54);
}

.OnPage {
    flex-wrap: wrap;
}

.bodybody {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.aboat {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    text-align: center;
}

#pfp1 {
    border-radius: 50%;
    width: 180px;
    height: auto;
    margin-bottom: 2rem;
    filter: drop-shadow(0px 0px 7px #41fc54);
}

.underaboat{
    padding-left: 0px;
    padding-top: 10vh;
    background-color: #243357;
}

#aboataboat{
    padding-left: 0px;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 6vh;
}

#moiboat{
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    color: var(--text-color-regular);
    width: 35vw;
    margin: 0 auto;
    font-size: 2rem;
}



#wave2{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg); 
    transform: rotate(180deg);
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 0px;
}


.titlecan{
    background: linear-gradient(45deg, #ffbe00 0%, #41fc54 45%, #338ffe 75%);
    background-size: 100% 100%;
    font-size: 10rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#moreaboatit {
    text-align: center;
    margin: 0, auto;
    padding: 0;
    color: var(--text-color-regular)
}


/*BELOW IS THE PROJECT CAROUSELL CODE*/
.pro {
    display: flex;
    gap: 5vw;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    flex-wrap: nowrap;
    height: 65vh;
    scroll-snap-type: x proximity;
    align-items: center;
}

.pro {
    scroll-behavior: smooth;
}



.pro {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

.project {
    flex: 0 0 auto;
    width: 40vw;
    scroll-snap-align: center;
    transition: transform 0.3s ease;

}

.project:hover {
    transform: scale(1.15);
}

.project img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    filter: drop-shadow( 0px 0px 8px #41fc54);
}

.project.active {
    transform: scale(1.15);
}